@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 60px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.long_section {
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: "Playfair Display", serif;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

/*header section*/
.header_section {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section.innerpage_header {
  position: relative;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#160e0b),
    to(#160e0b)
  );
  background: linear-gradient(to right, #160e0b, #160e0b);
  padding: 0px 0;
}

.custom_nav-container {
  padding-left: 0;
  padding-right: 0;
}

.custom_menu-btn {
  z-index: 1000;
  position: fixed;
  right: 25px;
  top: 15px;
  width: 50px;
  height: 50px;
}

.custom_menu-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
  z-index: 7;
  border-radius: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_menu-btn.menu_btn-style::before {
  width: 100vh;
  height: 100vh;
  background-color: #160e0b;
  -webkit-transform: scale(5);
  transform: scale(5);
  border-radius: 0;
}

.custom_menu-btn button {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 999;
  margin: 0;
}

.custom_menu-btn button span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000000;
  margin: 2.5px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 15px;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.menu_btn-style button span {
  background-color: #ffffff;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
  transform: rotate(45deg) translate(6px, 6px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
  transform: rotate(-45deg) translate(5px, -5px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
}

.overlay a:hover {
  color: #fd9c6b;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 99;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand {
  margin-top: 0px;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

/*end header section*/
/* slider section */
.slider_section {
  min-height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .detail-box {
  position: relative;
  z-index: 4;
  color: #ffffff;
  padding: 75px 0;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  font-size: 3rem;
}

.slider_section .detail-box p {
  width: 75%;
  margin-top: 15px;
  min-height: 120px;
}

.slider_section .detail-box .slider-link {
  display: inline-block;
  padding: 10px 45px;
  background-color: transparent;
  color: #fd9c6b;
  border-radius: 5px;
  border: 1px solid #fd9c6b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 35px;
}

.slider_section .detail-box .slider-link:hover {
  background-color: #fd9c6b;
  color: #ffffff;
}

.slider_section .slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.slider_section .slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top right;
  object-position: top right;
}

.shop_section .heading_container {
  margin-bottom: 20px;
}

.shop_section .box {
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
  margin-top: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width for better responsiveness */
  margin: 10px 0; /* Space between boxes */

}

.shop_section .box a {
  color: #000000;
}

.shop_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px;
  height: 330px;
}

.shop_section .box .img-box img {
  max-width: 100%;
  max-height: 300px;
}

.shop_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shop_section .box .detail-box h6 span {
  color: #fd9c6b;
}

.shop_section .box .new {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  font-size: 15px;
}

.shop_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.shop_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #fd9c6b;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #fd9c6b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.shop_section .btn-box a:hover {
  background-color: transparent;
  color: #fd9c6b;
}

.icon-link {
  display: flex;
  justify-content: center; /* Horizontally center the icon */
  align-items: center; /* Vertically center the icon */
  width: 100%; /* Full width to center the icon when it's clicked */
  text-decoration: none; /* Removes underline from the link */
}

@media (max-width: 768px) {
  .box {
    width: 90%; /* Slightly smaller width on small devices for margin */
    margin: 20px auto; /* Center and add vertical spacing */
  }

  .img-box {
    height: 280px; /* Fixed height for uniformity */
  }

  .img-box img {
    min-height: 120px; /* Fixed height for uniformity */
  }
}

/* Detail box styling */

/* Ensuring that the 'NEW' badge is consistently positioned */


/* Ensure buttons and links are centrally aligned and visible */




/* Adding hover effects for interactive elements */


.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img-box {
  position: relative;
  padding: 25px 0 0 25px;
}

.about_section .img-box img {
  width: 100%;
  position: relative;
}

.about_section .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background-color: #160e0b;
}

.about_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #fd9c6b;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #fd9c6b;
}



.offer_section .row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  margin-left: 0;
  margin-right: 0;

}


.offer_section .box {
  margin: 10px;
  height: 100%;
  position: relative;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
}

.offer_section .box img {
  width: 100%;
  min-height: 100%;
}

.offer_section .box .detail-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}

.offer_section .box .detail-box h2 {
  font-weight: bold;
}

.offer_section .box .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 0;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 10px;
}

.offer_section .box .detail-box a:hover {
  background-color: #fd9c6b;
  color: #ffffff;
}

.offer_section .box.offer-box1 {
  min-height: 225px;
}

.offer_section .box.offer-box1 .detail-box {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.offer_section .box.offer-box1 .detail-box h2 {
  font-size: 3rem;
}

.offer_section .box.offer-box2 .detail-box h2,
.offer_section .box.offer-box3 .detail-box h2 {
  font-size: 2.3rem;
}

.offer_section .box.offer-box2 .detail-box {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.offer_section .box.offer-box3 .detail-box {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.blog_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.blog_section .box {
  margin-top: 55px;
  background-color: #f1f2f3;
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box .blog_date {
  position: absolute;
  left: 25px;
  bottom: -15px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #160e0b;
  margin: 0;
  text-align: center;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  margin-top: 10px;
  padding: 25px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
}

.blog_section .box .detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: transparent;
  color: #160e0b;
  border-radius: 0;
  border: 1px solid #160e0b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.blog_section .box .detail-box a:hover {
  background-color: #160e0b;
  color: #ffffff;
}

.client_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 35px 25px;
  border-radius: 15px;
  background-color: #160e0b;
  color: #ffffff;
}

.client_section .box .img-box {
  margin-bottom: 15px;
  min-width: 145px;
  max-width: 145px;
  overflow: hidden;
}

.client_section .box .img-box img {
  border-radius: 100%;
  border: 7px solid rgba(255, 255, 255, 0.45);
  height: 200px; /* Ensure the image covers the entire container */
  width: auto; /* Maintain aspect ratio */
  min-width: 50%; /* Ensure the image covers horizontally */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.client_section .box .detail-box .name img {
  width: 25px;
  margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
  color: #fd9c6b;
  font-size: 20px;
}

.client_section .carousel_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #fd9c6b;
  background-position: center;
  border-radius: 5px;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #160e0b;
}

.client_section .carousel-control-next {
  left: initial;
}

.info_section {
  background-color: #160e0b;
  color: #ffffff;
}

.info_section .info_form_social_row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 45px;
}

.info_section .info_form {
  width: 100%;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.info_section .info_form form input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #ffffff;
  height: 50px;
  padding-left: 15px;
  outline: none;
  color: black;
  border: none;
  border-bottom: 1px solid #fd9c6b;
}

.info_section .info_form form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input:-ms-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input::-ms-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input::placeholder {
  color: #9c9c9c;
}

.info_section .info_form form button {
  background-color: transparent;
  color: #fd9c6b;
  text-transform: uppercase;
  font-size: 12px;
  outline: none;
  border: none;
  display: inline-block;
  padding: 15.5px 25px;
  background-color: #fd9c6b;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.info_section .info_form form button:hover {
  background-color: transparent;
  color: #fd9c6b;
}

.info_section .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-right: 10px;
}

.info_section .social_box a:hover {
  color: #fd9c6b;
  border-color: #fd9c6b;
}

.info_section h4 {
  margin-bottom: 15px;
}

.info_section .info_links .info_links_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info_section .info_links .info_links_menu a {
  color: #ffffff;
}

.info_section .info_links .info_links_menu a:not(:nth-last-child(1)) {
  margin-bottom: 10px;
}

.info_section .info_links .info_links_menu a:hover {
  color: #fd9c6b;
}

.info_section .info_insta .insta_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info_section .info_insta .insta_box .img-box {
  width: 65px;
  min-width: 65px;
  height: 65px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  background-color: #ffffff;
}

.info_section .info_insta .insta_box .img-box img {
  max-width: 100%;
  max-height: 100%;
}

.info_section .info_insta .insta_box p {
  margin: 0;
}

.info_section .info_insta .insta_box:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}

.info_section .info_contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.info_section .info_contact a i {
  margin-right: 5px;
  width: 25px;
}

.info_section .info_contact a:hover:hover {
  color: #fd9c6b;
}

/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
}

.footer_section p {
  color: #000000;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */

/* Overlay Style */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  backdrop-filter: blur(8px); /* Blur effect for supported browsers */
  padding-top: 100px;
}

/* Modal Content Box */
.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Maximum width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
  animation: modalFadeIn 0.5s; /* Animation to pop the modal */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: absolute; /* Positioned relative to modal content */
  top: 20px; /* Spaced from the top */
  right: 20px; /* Spaced from the right */
  font-size: 25px;
  font-weight: bold;
  float: right;
}

.close:hover,
.close:focus {
  color: #000; /* Darker grey text on hover/close focus */
  text-decoration: none;
  cursor: pointer; /* Pointer/hand icon */
}

/* Modal Header */
.modal h2 {
  color: #333333; /* Dark grey text for heading */
  font-family: "Noto Sans", sans-serif; /* Stylish, modern sans-serif font */
  text-align: center; /* Centered text */
  margin-bottom: 10px; /* Bottom margin for spacing */
  font-size: 30px;
  font-weight: 800;
}

#modalShopName {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}

/* Modal Body Text */
.modal p {
  font-family: "Open sans", sans-serif; /* Consistency in font */
  text-align: center; /* Center text for aesthetics */
  color: #555555; /* Medium grey text */
  font-size: 16px; /* Readable font size */
  line-height: 1.5;
  margin-top: 6px;
  /* Adequate line height for readability */
}

#modalShopAddress {
  color: #007bff; /* Medium grey text */
  font-size: 16px; /* Readable font size */
  line-height: 1.5;
  margin-top: 8px;
}

#modalShopAddress:hover {
  text-decoration: none;
  color: #094c94;
  font-family: "Open Sans", sans-serif;
}

/* Links within the Modal */
#modalPhoneNumber {
  background-color: #007bff; /* Blue, can adjust to fit brand color */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for aesthetic spacing */
  border-radius: 5px; /* Rounded corners for a soft, modern look */
  text-decoration: none; /* No underline */
  font-weight: bold; /* Bold text for emphasis */
  transition: background-color 0.3s ease;
  margin-top: 38px; /* Smooth transition for hover effect */
  line-height: 3.5;
  font-family: "Open Sans", sans-serif;
}

#modalPhoneNumber:hover {
  background-color: #0056b3; /* Slightly darker blue on hover */
}

/* Animation Keyframes */
@keyframes modalFadeIn {
  from {
    opacity: 0; /* Start fully transparent */
    transform: translateY(-50px); /* Start slightly above */
  }
  to {
    opacity: 1; /* End fully opaque */
    transform: translateY(0); /* End at normal position */
  }
}

/* Telephone Icon Hover Animation */
.fa-phone {
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transform */
  display: inline-block; /* Allows transform to be applied */
  color: #160e0b; /* Initial color; can be your brand color */
}

/* Telephone Icon Hover Effect */
.fa-phone:hover {
  transform: scale(1.1) rotate(15deg); /* Scale up and rotate slightly */
  color: #0056b3; /* Change color on hover */
}

.icon-white {
  color: white;
}

/* Base styles for the map on all devices */
.info_map {
  width: 100%; /* Full width on smaller screens */
  height: 200px; /* Fixed height */
  border: none; /* Clean look without border */
  display: block; /* Ensures the map is a block-level element */
}

/* Enhanced media query for desktop screens */
@media (min-width: 768px) {
  .info_map {
    width: 600px; /* Fixed width on larger screens */
    height: 200px; /* Maintains consistent height */
    margin-left: auto; /* Centers the map horizontally */
    margin-right: auto; /* Centers the map horizontally */
  }
}

/* Make cursor pointer for the entire box areas */
#jewelBox,
#jootiBox,
#fabricBox {
  cursor: pointer;
}

/* Specifically target images for cursor change */
#jewelBox img,
#jootiBox img,
#fabricBox img {
  cursor: pointer;
}

.hoverImg {
  cursor: pointer; /* Smooth transition for the transform */
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  background-color: #f7f7f7; /* You can adjust the color to fit your design */
}

.product-container {
  display: flex;
  overflow-x: auto;
  gap: 20px; /* Space between cards */
  padding: 20px 10vw; /* Padding around the container */
  scroll-behavior: smooth;
  white-space: nowrap; /* Keeps items in a single line */
}

.product-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a cleaner look */
}

.product-card {
  flex: 0 0 auto;
  width: 300px; /* Adjust card width as needed */
  height: 450px; /* Adjust card height as needed */
  border-radius: 10px; /* Rounded corners for the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
  background: #fff; /* Card background */
  overflow: hidden; /* Ensures nothing overflows from the card */
  display: flex;
  flex-direction: column; /* Stack image and details vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  position: relative;
}

.product-card:hover {
  transform: translateY(-5px); /* Slightly raise the card on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Deeper shadow for raised effect */
}

.product-image {
  width: 100%; /* Full width of the card */
  height: auto; /* Height is set automatically to maintain aspect ratio */
  display: flex; /* Use flexbox to center the image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-thumb {
  max-width: 100%; /* Max width is 100% of the parent container */
  max-height: 300px; /* Fixed max-height */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Will ensure the image fits within the given dimensions without being cropped */
  transition: transform 0.3s ease; /* Smooth transform transition */
}
.product-card:hover .product-thumb {
  transform: scale(1.1); /* Scale image up on hover */
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 5;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}
.nxt-btn {
  right: 0;
}

.pre-btn:hover,
.nxt-btn:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Lighten button background on hover */
}

.pre-btn {
  left: -22px;
} /* Half the button's width to the outside of the container */
.nxt-btn {
  right: -22px;
} /* Half the button's width to the outside of the container */

.pre-btn img,
.nxt-btn img {
  opacity: 0.8; /* Slightly transparent arrows */
  transition: opacity 0.3s; /* Smooth opacity transition */
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1; /* Full opacity on hover */
}

@media (max-width: 768px) {
  .product-container {
    scroll-snap-type: x mandatory; /* Enables snap scrolling for the container */
  }

  .product-card {
    flex: 0 0 100%; /* Each card takes full width of the viewport */
    width: 100vw; /* Card width is 100% of viewport width */
    scroll-snap-align: center; /* Ensures the card snaps to the center */
  }

  .pre-btn {
    left: -10px;
  } /* Half the button's width to the outside of the container */
  .nxt-btn {
    right: -10px;
  } /* Half the button's width to the outside of the container */
}

.jewelry-container {
  display: flex;
  max-width: 1200px; /* Adjust based on your design */
  margin: auto;
  gap: 10px;
}

.jewelry-container .detail-box {
  position: absolute;
  color: #ffffff;
  padding: 25px;
  text-align: left;
  transition: all 0.3s ease;
  font-weight: bold;
}

.jewelry-image:first-child .detail-box {
  bottom: 10px;
  left: 10px;
}

.jewelry-image:nth-child(2) .detail-box {
  bottom: 10px;
  right: 10px;
}

.right-side .detail-box {
  top: 10px;
  right: 2px;
}

.jewelry-container .left-side .detail-box h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

.jewelry-container .right-side .detail-box h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
}

.jewelry-container .detail-box a {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: #ffffff;
  padding: 8px 40px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #ffffff;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.jewelry-container .detail-box a:hover {
  background-color: #fd9c6b;
  color: #ffffff;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .jewelry-container {
    flex-direction: column;
  }

  
  .left-side, .right-side {
    width: 100%;
    height: auto;
  }

  .jewelry-image:first-child .detail-box {
    bottom: 10px;
    left: 10px;
  }
  
  .jewelry-image:nth-child(2) .detail-box {
    bottom: 10px;
    right: 10px;
  }
  
  .right-side .detail-box {
    bottom: 10px;
    left: 10px;
    
  }

  .jewelry-container .right-side img{
    max-height: 305px;
  }

 .jewelry-container .left-side .left-text .detail-box {
 text-align: right; ;
 }

.jewelry-container .left-side .detail-box  h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
}

.jewelry-container .right-side .detail-box  h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
}

.jewelry-container .detail-box a {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  color: #ffffff;
  padding: 8px 40px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #ffffff;
  display: inline-block;
  transition: background-color 0.3s ease;
  font-size: 0.8rem;
  text-align: center;
}
}

.left-side,
.right-side {
  flex: 1;
}
.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.jewelry-image {
  position: relative;
  height: 305px; /* Adjust based on your design */
  cursor: pointer;
}
.jewelry-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.6s ease;
}

.jewelry-image img:hover {
  transform: scale(1.01); /* Optional: Scale up image on hover */
}

.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}
.shop-button {
  position: absolute;
  bottom: 10px;
  left: 150px; /* Adjust to match the design */
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.shop-button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}
.right-side {
  flex: 2;
  height: 620px; /* Adjust to match the design */
}
@media (max-width: 992px) {
  .jewelry-container {
    flex-direction: column;
  }
  .right-side {
    height: auto;
  }
}
